@import 'reset';

// Functions

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Helpers

%_accessible-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
._sr { @extend %_accessible-invisible; }


// Components


.game-box {
  width: 100%;
  max-width: 50rem;
}

.game-row {
  &:not(:last-of-type) {
    .game-card {
      border-bottom: 1px solid black;
    }
  }
}

.game-card {
  // background-color: grey; // TEMP

  width: 33.333%;
  padding-bottom: 33.333%;
  float: left;

  &:not(:last-child) {
    border-right: 1px solid black;
  }
}