doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="icon", type="image/x-icon", href="img/favicon.ico")
    title 10k Apart Test
    link(rel='stylesheet', type='text/css', href='styles/app.css')
  body
    header
      h1 Tic Tac Toe
      p #[b A riveting game of skill. ]
      p Face off against a friend, X's vs. O's, by taking turns claiming a square. First one to create a line, diagonal or otherwise, wins.

    div.game-box(role="main")

      div#win

      mixin row(number)
        .game-row

          fieldset
            legend._sr Row #{number} of 3

            each val in [1,2,3]

              .game-card(id='r'+number+"_c"+ val)
                fieldset
                  legend._sr(aria-describedby="Row "+val) Column #{val} of 3

                  input._sr(id='r'+number+"_c"+ val +"_1", type="radio", name='r'+number+"_c"+val, value="1", onclick="checkSelections()")
                  label.x(for='r'+number+"_c"+ val +"_1")
                    span._sr X
                    svg(viewbox="0 0 40 40")
                      path(class="shape x", stroke="#395C6B", fill="transparent", stroke-width="5", d="M 10,10 L 30,30 M 30,10 L 10,30")

                  input._sr(id='r'+number+"_c"+ val +"_2", type="radio", name='r'+number+"_c"+val, value="2", onclick="checkSelections()")
                  label.o(for='r'+number+"_c"+ val +"_2")
                    span._sr O
                    svg(viewbox="0 0 40 40")
                      circle(class="shape o", stroke="#80A4ED", stroke-width="4", fill="none", cx="20", cy="20", r="10")


      +row(1)
      +row(2)
      +row(3)


    script(src='js/app.js', type="text/javascript")