doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 10k Apart Test
    link(rel='stylesheet', type='text/css', href='/styles/app.css')
  body
    header
      h1 Test
      nav(aria-label='Main Navigation')
    main
      section#pagePanel1(class='panel' tabindex='0')
        h2 Page 1 Content
      section#pagePanel2(class='panel' tabindex='0')
        h2 Page 2 Content
    //- footer
    //-   h2 By Danielle